<% include('header'); %>
<html>
<body>
<h1 style="font-family: verdana;font-weight: bold;text-transform: capitalize;text-align: center;font-size: 70px;color: rgb(0, 0, 0);position: relative;top: 1px;text-shadow: rgb(235, 211, 0) 2px 2px 2px;">Istruzioni del gioco</h1>
  
<h3 style="font-family: verdana;font-weight: bold;text-align: center;font-size: 50px;color: rgb(0, 253, 0);text-shadow: rgb(2, 63, 22) 2px 2px 2px;">Guida sulla modalita 2 Dadi(ROLL 2)</h3> 
<h3 style="font-family: verdana;font-weight:bold;text-align: center;font-size: 50px;color: rgb(0, 0, 0);">In questa modalità si gioca con 2 dadi, l utente deve fare 10 volte un punteggio dispari senza perdere i 100$.Attenzione al punteggio COPPIA! </h3>
  
<h3 style="font-family: verdana;font-weight: bold;text-align: center;font-size: 50px;color: rgb(253, 0, 0);text-shadow: rgb(2, 63, 22) 2px 2px 2px;">Guida sulla modalita 1 Dado(ROLL 1)</h3>
  
<h3 style="font-family: verdana;font-weight: bold;text-align: center;font-size: 50px;color: rgb(0, 0, 0);">Questa modalità ha solo un dado , per vincere bisogna effettuare 10 lanci dispari , si gioca senza punteggio COPPIA!</h3>

<style>body{ 
background-color: blue; 
} 
.myButton { 	
background-color:#44c767; 	
border-radius:28px; 	
border:1px solid #18ab29; 	
display:inline-block; 	
cursor:pointer; 	
color:#ffffff; 	
font-family:Arial; 	
font-size:17px; 	
padding:16px 31px; 	
text-decoration:none; 	
text-shadow:0px 1px 0px #2f6627;
} 

.myButton:hover { 	
background-color:#5cbf2a; 
} 
  
.myButton:active { 	
position:relative; 	
top:1px; 
} 
.myButton2 { 
box-shadow:inset 0px 1px 0px 0px #93f298;
background:linear-gradient(to bottom, #87fe00 5%, #10ca39 100%);
background-color:#00fe61;	 border-radius:11px; border:7px solid #0f6804; 
display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:26px;
font-weight:bold;
padding:18px 24px; 
text-decoration:none; 
text-shadow:0px 1px 6px #b23e35; 
}
</style>
<a href="/" class="myButton">Torna al menu</a>           
</body>
</html>
<% include('footer');  %>